spring:
  application:
    name: p09
  datasource:
    url: jdbc:postgresql://postgresql:5432/p09
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml

server:
  error:
    include-exception: false
    include-message: always
    include-stacktrace: always

security:
  secret: secret12345678
  token-lifetime: 15m
  refresh-token-lifetime: 30d

logstash:
  url: logstash:4560

management:
  metrics:
    export:
      prometheus:
        enabled: true
  endpoints:
    web:
      exposure:
        include : "info,health,prometheus,metrics"

external-payment-service:
  url: http://77.234.215.138:30027
  sync-secret: 7d65037f-e9af-433e-8e3f-a3da77e019b1
  polling-secret: ba37e656-4516-4ac9-a169-2f356388409b
  rate-limit: 50

external-delivery-service:
  url: http://77.234.215.138:30027
  sync-secret: 7d65037f-e9af-433e-8e3f-a3da77e019b1
  polling-secret: ba37e656-4516-4ac9-a169-2f356388409b
  rate-limit: 50